.faq {
    &__header {
        // height: 15vh;
        background-color: $color-white;
    }
    &__main {
        // min-height: 70vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    &__urls {
        padding: 40px 20px;
        border-right: 1px solid $color-gray;
        display: flex;
        justify-content: flex-start;
        &-container {
            text-align: center;
        }
        &-heading {
            margin-bottom: 20px;
        }
        &-mobile {
            display: none;
            flex-direction: column;
            &-container {
                width: 100%;
                .faq__urls {
                    &-list {
                        margin-left: 20px;
                        transition: max-height 0.2s ease;
                        max-height: 0;
                    }
                    &-item {
                        display: none;
                    }
                }

                &.active {
                    .faq__urls {
                        &-item {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
    &__mobile {
        &-heading {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
        }
        &-dropdown {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 10px;
                transition: transform 0.2s ease;
            }
        }
    }
    &__accordions {
        background-color: $color-white;
        padding: 40px 20px;

        &-heading {
            margin-bottom: 20px;
        }
    }
    &__footer {
        margin-top: 0;
    }
}
@media screen and (min-height: 850px) {
    .faq {
        &__header {
            // height: 9vh;
        }
    }
}

@media screen and (max-width: 576px) {
    .faq {
        &__main {
            grid-template-columns: 1fr;
        }

        &__accordions {
            padding: 20px;
            margin-bottom: 20px;
            &-heading {
                display: none;
            }
        }
        &__urls {
            justify-content: center;
            border-left: none;
            display: none;
            &-mobile {
                display: flex;
                margin-top: 20px;
            }
        }
    }
}
