.section {
    &__hero {
        height: 500px;
        background-color: $color-primary;

        .hero {
            &__content {
                padding-top: 60px;
                position: relative;
            }
            &__btn {
                margin-top: 60px;
            }
            &__img {
                position: absolute;
                top: 140px;
                right: 0;
                img {
                    height: 350px;
                }
            }
        }
    }

    &__container {
        position: relative;
        z-index: 10;
        margin-top: 150px;
    }
    &__title {
        &--1 {
            text-align: center;
            margin-bottom: 100px;
        }
    }

    &__text {
        margin: 40px 0;
    }
    &__img {
        display: flex;
        justify-content: center;
        .img__discord {
            height: 150px;
        }

        img {
            height: 350px;
            width: auto;
        }
    }
    &__content {
        .platform {
            &__images {
                display: flex;
                justify-content: center;
            }
            &__image {
                margin-right: 25px;
                display: flex;
                align-items: center;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__features {
        position: relative;
        .bg__container {
            display: flex;
            justify-content: flex-end;
            z-index: -1;
        }
        &-bg {
            margin-top: -500px;
            background-position: center;
            background-size: cover;
            height: 750px;
            width: 680px;
            background-repeat: no-repeat;
            background-image: url("../assets/img/features-bg.png");
            position: absolute;
        }
    }
    &__demo {
        .bg__container {
            display: flex;
            justify-content: flex-start;
            position: relative;
        }

        &-bg {
            position: absolute;
            background-position: center;
            background-size: cover;
            height: 652px;
            width: 795px;
            background-repeat: no-repeat;
            background-image: url("../assets/img/demo-bg.png");
            margin-top: -100px;
        }
    }

    &__patreon {
        .patreon__img {
            img {
                height: 80px;
                width: auto;
            }
        }
    }
    &__cookie {
        position: fixed;
        bottom: 20px;
        right: 30px;
        background-color: $color-white;
        z-index: 20;
        width: 60%;
        box-shadow: 0px 20px 30px rgba($color-black, 0.25);
        display: none;
        transition: all 0.5s ease;
        &.show {
            display: flex;
        }
        .cookie__container {
            display: flex;
            align-items: center;

            .cookie {
                &__img {
                    display: flex;
                    align-items: center;
                    img {
                        height: 70px;
                        width: auto;
                    }
                }
                &__content {
                    padding: 15px 10px;
                }
                &__text {
                    margin: 15px 0 20px 0;
                }
                &__buttons {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 20px;
                    align-items: center;

                    div {
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .section {
        &__cookie {
            width: 35%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .section {
        &__hero {
            .hero {
                &__img {
                    display: none;
                }
                &__btn {
                    text-align: center;
                }

                &__text {
                    margin-top: 20px;
                }
            }
        }

        &__vision {
            .section__container {
                display: flex;
                flex-direction: column-reverse;

                .section__button {
                    text-align: center;
                }
            }
        }

        &__features {
            .bg__container {
                display: none;
            }
        }
        &__demo {
            .bg__container {
                display: none;
            }
            .section__container {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        &__title {
            text-align: center;
        }
        &__progress {
            .img__devices {
                img {
                    width: 400px;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .section {
        &__hero {
            height: 400px;
        }
        &__container {
            margin-top: 70px;
        }
        &__progress {
            .img__devices {
                img {
                    width: 300px;
                    height: auto;
                }
            }
        }

        &__img {
            img {
                height: 300px;
            }
            .img__discord {
                height: 100px;
            }
        }

        &__cookie {
            width: 90%;
            right: 0;
            bottom: 0;
            .cookie {
                &__buttons {
                    div {
                        &:first-child {
                            margin-right: 10px;
                        }
                    }

                    .btn {
                        padding: 5px 7.5px;
                    }
                }
                &__img {
                    display: none !important;
                }
            }
        }
    }
}
