.section {
    &__hero {
        height: 500px;
        background-color: $color-primary;

        .hero {
            &__content {
                padding-top: 60px;
                position: relative;
            }
            &__btn {
                margin-top: 60px;
            }
            &__img {
                position: absolute;
                top: 140px;
                right: 0;
                img {
                    height: 350px;
                }
            }
        }
    }

    &__container {
        position: relative;
        z-index: 10;
        margin-top: 150px;
    }
    &__title {
        &--1 {
            text-align: center;
            margin-bottom: 100px;
        }
    }

    &__text {
        margin: 40px 0;
    }
    &__img {
        display: flex;
        justify-content: center;
        .img__discord {
            height: 150px;
        }

        img {
            height: 350px;
            width: auto;
        }
    }
    &__content {
        .platform {
            &__images {
                display: flex;
                justify-content: center;
            }
            &__image {
                margin-right: 25px;
                display: flex;
                align-items: center;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__features {
        position: relative;
        .bg__container {
            display: flex;
            justify-content: flex-end;
            z-index: -1;
        }
        &-bg {
            margin-top: -500px;
            background-position: center;
            background-size: cover;
            height: 750px;
            width: 680px;
            background-repeat: no-repeat;
            background-image: url("../assets/img/features-bg.png");
            position: absolute;
        }
    }
    &__demo {
        .bg__container {
            display: flex;
            justify-content: flex-start;
            position: relative;
        }

        &-bg {
            position: absolute;
            background-position: center;
            background-size: cover;
            height: 652px;
            width: 795px;
            background-repeat: no-repeat;
            background-image: url("../assets/img/demo-bg.png");
            margin-top: -100px;
        }
    }

    &__patreon {
        .patreon__img {
            img {
                height: 80px;
                width: auto;
            }
        }
    }
}
