.container {
    max-width: 1140px;
    margin: 0 auto;
}

.grid-of {
    &-2 {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    &-3 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 120px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .grid-of-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 576px;
    }
    .grid-of-3 {
        grid-template-columns: 1fr;
    }
    .grid-of-2 {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: auto;
        padding: 0 20px;
    }
    .grid-of-3 {
        padding: 0 20px;
    }
}
