.header {
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        .menu {
            &__list {
                display: flex;
                align-items: center;
                margin-top: 15px;
            }

            &__item {
                margin-right: 25px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        img {
            height: 40px;
        }
    }
    &__btn {
        display: flex;
        align-items: flex-end;
    }
    &__mobile {
        &-icon {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &__mobile {
            &-icon {
                display: block;
            }
        }

        .menu {
            &__list {
                display: none;
            }
        }
        &__btn {
            display: none;
        }
        &__container {
            padding: 20px !important;
        }
    }
}
