.accordion {
    border-bottom: 1px solid $color-gray;
    &:first-child {
        border-top: 1px solid $color-gray;
    }
    &__button {
        padding: 30px 10px;
        cursor: pointer;
        text-align: left;

        &:after {
            content: "\002B";
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
    }

    .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease;
        height: auto;

        p {
            padding: 10px;
        }
    }

    &.active {
        .accordion__button {
            &:after {
                content: "\2212";
            }
        }
        .panel {
            display: block;
        }
    }
}
