.form {
    &__group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: $color-gray-light;
        padding: 10px 15px;
        width: 370px;
        position: relative;
        &--grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
            width: 83%;

            .form__group {
                width: auto;
                .form__input {
                    width: 100%;
                }
            }
        }

        &-label {
            position: absolute;
        }
        &--1 {
            display: flex;
            background-color: $color-gray-light;
            padding: 10px 15px;
            margin-bottom: 20px;
            align-items: center;
        }
        &--2 {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            width: 370px;
            padding: 0px 15px 10px 0;
            margin-top: -27px;
        }

        &--3 {
            width: 80% !important;
        }

        &-sm {
            margin-bottom: 0px;
            display: flex;
            justify-content: space-between;
        }

        .show__password {
            cursor: pointer;
        }
    }
    &__label {
        margin-right: 2px;
    }

    &__input {
        padding: 7.5px;
        border: none;
        background: $color-gray-light;
        font-family: "Rubik";
        font-size: 16px;
        font-weight: 500;
        width: 300px;

        &--1 {
            width: 230px;
        }
        &--2 {
            width: 100% !important;
        }
        &-file {
            opacity: 0;
        }
        &-select {
            border: none;
            background-color: $color-gray-light;
            font-family: "Rubik";
            font-size: 16px;
            font-weight: 500;
            padding: 10px;
            max-width: 120px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: $color-gray-light;
            background: url("../assets/img/down-arrow.png") 96% / 15%
                no-repeat #eee;

            &--1 {
                background-size: contain;
                width: 100%;
                max-width: none;
            }
        }
        &-checkbox {
            height: 20px;
            width: 20px;
            border: 1px solid $color-text;
            margin-right: 10px;
            -webkit-appearance: none;
            background-color: $color-gray-light;
            border: 2px solid $color-gray;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            display: inline-block;
            position: relative;

            &:checked {
                background-color: $color-primary;
                &:after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
    &__validation {
        padding: 10px;
        margin-bottom: 10px;
        display: none;
        &.error {
            background-color: $color-bg-error;
            color: $color-text-error;
            display: block;
        }
        &.warning {
            background-color: $color-bg-warning;
            color: $color-text-warning;
            display: block;
        }
    }
}
@media screen and (max-width: 1024px) {
    .form {
        &__group {
            width: 270px;

            &--2 {
                width: 270px;
            }
        }
        &__input {
            width: 200px;

            &--1 {
                width: 130px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .form {
        &__input {
            width: 150px;
            padding: 5px;

            &--1 {
                width: 120px;
            }
        }
        &__group {
            &--grid {
                grid-template-columns: 1fr;
            }
        }
    }
}
