.tab {
    display: none;
    height: 240px;
    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn:first-child {
            margin-right: 10px;
        }
    }
}
