html,
body {
    font-size: 16px;
    background-color: $color-bg;
    position: relative;
    z-index: -10;
    overflow-x: hidden;
}
.body {
    &__bg {
        &-white {
            background-color: $color-white;
        }
    }
}

@media screen and (max-width: 576px) {
    html,
    body {
        overflow-x: hidden;
    }
}
