.next__line {
    display: block;
}
.u_center_text {
    text-align: center;
}
.flex {
    display: flex;
}
.align {
    &__right {
        text-align: right;
    }
}
.uppercase {
    text-transform: uppercase;
}
.from {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
    &.appear {
        transform: translateX(0);
        opacity: 1;
    }
    &__right {
        transform: translateX(50%);
    }
    &__left {
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 1024px) {
    .next__line {
        display: inline;
    }
}
