.next__line {
    display: block;
}
.u_center_text {
    text-align: center;
}
.flex {
    display: flex;
}
.align {
    &__right {
        text-align: right;
    }
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: 900;
}
.margin__bottom {
    &--medium {
        margin-bottom: 20px;
    }
}
.margin {
    &__large {
        margin: 40px 0;
    }
}
.near__invisible {
    &-container {
        position: absolute;
        bottom: 210px;
        // right: 0;
        width: 100%;
    }

    &-bg {
        background-color: rgba($color-white, 0.7);
        height: 50px;
        width: 90%;
    }
}
.from {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
    &.appear {
        transform: translateX(0);
        opacity: 1;
    }
    &__right {
        transform: translateX(50%);
    }
    &__left {
        transform: translateX(-50%);
    }
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .next__line {
        display: inline;
    }
}
